hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }


.title{
  font-size: 82px;
  line-height: 1.285;
  font-weight: 50;
  margin-bottom: 20px;
  letter-spacing: -0.036em;
}

.subtitle{
  font-size: 20px;
  line-height: 1.17;
  font-weight: 200;
}

.subtitle-1{
  font-size: 27px;
  line-height: 1.17;
  font-weight: 200;
}

.subtitle-2{
  font-size: 25px;
  line-height: 1.17;
  font-weight: 200;
}

.subtitle-footer{
  font-size: 20px;
  line-height: 1.0;
  font-weight: 200;
}

.paragraph{
  font-size: 25px;
  line-height: 1.6363636364;
  margin-bottom: 30px;
  font-weight: 100;
}

.lyric{
  font-size:22px;
  font-weight: 100;
}

.rsvp {
  background-color :  rgba(255,255,255,0.4);
  color: black;
  padding: 10px 30px;
  border-radius: 4px;
  border-color: #000;
  font-size:15px;
  font-weight: 600;
  cursor: pointer;
}

#nav_rsvp {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

/*BACKGROUND*/
@media (min-width: 720px) {
  #slide_1 {
    background-image:url(../assets/img/background/img-brumine-1.jpg)
  }
  
  #slide_2 {
    background-image:url(../assets/img/background/img-brumine-2.jpg)
  }
  
  #slide_3 {
    background-image:url(../assets/img/background/img-brumine-3.jpg)
  }
  
  #slide_4 {
    background-image:url(../assets/img/background/img-brumine-4.jpg)
  }
  
  #slide_5 {
    background-image:url(../assets/img/background/img-brumine-5.jpg)
  }
  
  #slide_6 {
    background-image:url(../assets/img/background/img-brumine-6.jpg)
  }
  
  #slide_7 {
    background-image:url(../assets/img/background/img-brumine-7.jpg)
  }
  
  #slide_8 {
    background-image:url(../assets/img/background/img-brumine-8.jpg)
  }
  
  #slide_9 {
    background-image:url(../assets/img/background/img-brumine-9.jpg)
  }
}

